# DO NOT BUT YOUR BOT TOKEN HERE!

# Instead, create a new file called ".env".
# Create a variable and name it whatever you want.
# Check if .gitignore contains "**/.env"
# Make the variable eqal to your bot token.
# If your variable is not called "DISCORD_TOKEN", make sure you add your variable name to bot.run()


DISCORD_TOKEN = None
