# DO NOT BUT YOUR BOT TOKEN HERE!

# Instead, create a new file called ".env".
# Create a variable and name it whatever you want.
# Check if .gitignore contains "**/.env"
# Make the variable eqal to your bot token.

# IF YOU PUT YOUR DISCORD BOT TOKEN HERE, YOUR BOT WILL NOT RUN AND YOU COULD RISK LEAKING YOUR BOT TOKEN.
# THIS FILE IS AN EXAMPLE OF HOW YOUR ".env" FILE SHOULD LOOK LIKE

DISCORD_TOKEN=None
