# DO NOT BUT YOUR DISCORD BOT TOKEN OR YOUR DISCORD DEVELOPER ID HERE! THIS FILE IS JUST TO SHOW WHAT YOU ".env" IS SUPPOSED TO LOOK LIKE

# Instead, create a new file called ".env".
# Create a two variable and name it whatever you want.
# Check if .gitignore contains "**/.env"
# Make the variable eqal to your bot token and discord user id.

# IF YOU PUT YOUR DISCORD BOT TOKEN HERE, YOUR BOT WILL NOT RUN AND YOU COULD RISK LEAKING YOUR BOT TOKEN.
# THIS FILE IS AN EXAMPLE OF HOW YOUR ".env" FILE SHOULD LOOK LIKE

# Make sure to update your DEVELOPER_ID to your own user id to allow yourself to sync OutBot's command tree.

DISCORD_TOKEN=None
DEVELOPER_ID=None